<% layout("layout/boilerplate") -%>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-4">Edit your listing</h1>
        <form action="/listings/<%=foundListing._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <textarea name="title" id="title" class="form-control" rows="2" required><%=foundListing.title%></textarea>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control" rows="4" required><%=foundListing.description%></textarea>
            </div> <div class="valid-feedback">Looks good</div>
            <div class="mb-3 ">
                <p>Orignal Image</p>
                <img src="<%= orignalUrl%>" alt="">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="file" name="image" id="image" class="form-control" required>
                <div class="valid-feedback">Looks good
            </div>
            </div>



            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" id="price" class="form-control" value="<%=foundListing.price%>" required>
                
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="location" id="location" class="form-control" value="<%=foundListing.location%>" required>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="country" id="country" class="form-control" value="<%=foundListing.country%>" required>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            <a href="/listings" class="btn btn-secondary ml-2 mb-3">Back to all listings</a>
        </form>

    </div>



</body>
